
body {
        color: lightyellow;
        background-image: url("../img/gaming.png");
}

.box {
        border-style: ridge;
        border-width: 6px;
}

#title {
        text-align: center;
        background-image: url("../img/fondo.png");
}

#title img {
        width: 87%;
        height: 87px;
        border-style: inset;
        margin: 32px;
}

#description, #lists {
        display: inline-block;
        padding-left: 20%;
        padding-top: 30%;
}

#description {
        color: lightpink;
        background: linear-gradient(to bottom, white, blue);
        font-family: monospace;
        width: min-content;
        padding-inline-start: 20%;
        padding-inline-end: 15%;
        line-height: 32px;
        text-align: right;
}

#lists {
        background: linear-gradient(to top, darkblue, orange);
}

#ingredients {
        font-family: fantasy;
        background: linear-gradient(to bottom, white, purple);
}

#steps {
        background: linear-gradient(to bottom, white, green);

}
